//boton reveal 
#top {
    z-index: 9999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #be164b;
    width: 50px;
    height: 50px;
    display: block;
    box-shadow: black 0px 0px 20px 1px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  #top:hover i {
    color: #fff;
    top: 5px;
  }

/* boton scroll flecha con animacion */
.icon-antares:before {
    content: "\f103";
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "linkedin";
    font-style: normal;
    font-weight: normal;
  }

  .scroll-btn i {
    color: white;
    font-size: 60px;
    animation-name: arrow;
    margin-left: -12px;
  }

  @keyframes arrow {
    20% {
      margin: 5px 9px;
    }
    30% {
      margin: 7px 9px;
    }
    50% {
      margin: 5px 9px;
    }
  }
  //boton reveal 
  #top {
    z-index: 9999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #be164b;
    width: 50px;
    height: 50px;
    display: block;
    box-shadow: black 0px 0px 20px 1px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #top:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  #top:hover i {
    color: #fff;
    top: 5px;
  }
 /* boton scroll flecha con animacion */
 .icon-antares:before {
    content: "\f103";
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "linkedin";
    font-style: normal;
    font-weight: normal;
  }

  .scroll-btn i {
    color: white;
    font-size: 60px;
    animation-name: arrow;
    margin-left: -12px;
  }

  @keyframes arrow {
    20% {
      margin: 5px 9px;
    }
    30% {
      margin: 7px 9px;
    }
    50% {
      margin: 5px 9px;
    }
  }
  .scroll-btn {
    width: 60px;
    height: 60px;
    display: block;
    background: transparent;
    background-size: 12px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    cursor: pointer;
    animation-name: scroll-btn;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  @keyframes scroll-btn {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(255, 52, 103, 1);
    }
    3% {
      box-shadow: 0px 0px 0px 2px rgba(255, 52, 103, 1);
    }
    35% {
      box-shadow: 0px 0px 0px 10px rgba(255, 52, 103, 0);
    }
  }

  .scroll-btn-wrap {
    width: 60px;
    height: 60px;
    display: block;
    background: #be164b;
    background-size: 12px;
    border-radius: 100%;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    cursor: pointer;
    animation-name: scroll-btn-wrap;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  .scroll-btn-wrap:hover {
    background: black;
  }
  @keyframes scroll-btn-wrap {
    15% {
      box-shadow: 0px 0px 0px 2px rgba(255, 52, 103, 0.5);
    }
    18% {
      box-shadow: 0px 0px 0px 5px rgba(255, 52, 103, 0.5);
    }
    35% {
      box-shadow: 0px 0px 0px 10px rgba(255, 52, 103, 0);
    }
  }

 