$color-principal:#FB2367;

$color-secundario:#2d2c50;

$box-shadow-principal:#FB2367 1px 1px 45px;

$font-principal: "Amatic SC", cursive;

$font-secundaria:"Monoton", cursive;

$font-alterna: Roboto, sans-serif;




